.project-image-large img,
.project-image-small img {
  margin-bottom: 2.0rem;
  @include breakpoint (baby-bear) {
    margin-bottom: 6.0rem;
  }
}

.archive {
  .intro {
    [class*="blob"] {
      top: 100px;
   
      @include breakpoint (baby-bear) {
        top: 100px;
      }
    }
  }

  h6 {
    color: $grey;
  }

  .project {
    @extend %clear;
    width: 100%;
  }

  .project-description {
    position: relative;
    text-align: left;
    margin-top: 0rem;
    margin-bottom: 3.2rem; 

    .eyebrow {
      margin-bottom: 0.4rem;
      color: $grey;
    }

    .project-name {
      font-weight: bold;
      margin-bottom: 0;
    }

    [class*="blob"] {
      top: 50px;
      left: -120px;
      z-index: -1;
  
      @include breakpoint (baby-bear) {
        top: 300px;
      }
    }
  }

  .project-image-large {
    position: relative;

    img {
      width: auto;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    [class*="blob"] {
      top: 50px;
      left: auto;
      right: -20px;
      z-index: -1;
  
      @include breakpoint (baby-bear) {
        right: -200px;
      }
    }
  }
    

  .project-image-small {
    position: relative;

    [class*="blob"] {
      top: 1400px;
      left: auto;
      right: -100px;
      z-index: -1;
  
      @include breakpoint (baby-bear) {
        top: 820px;
      }
    }
  }
}
