header {
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: left;
	@include breakpoint (baby-bear) {
		margin-top: 128px;
		margin-bottom: 16px;
	}

	.avatar {
		display: block;
		width: 70px;
    height: auto;
    margin-bottom: 16px;

    img {
      border-radius: 50%;
    }
  }
  
  .tag {
    color: $grey;
  }
}
