.homepage {
	background: #FFFEF9 url('../img/bg-home-mobile@2x.png') repeat left top;
	background-size: 290px 482px;

	@include breakpoint (baby-bear) {
		background: #FFFEF9 url('../img/bg@2x.png') repeat left top;
		background-size: 1440px 1367px;
	}

}

h1, h2, h3, h4, h5, h6, p  {
	transition: color 1s ease-in-out;
}

.scratch-year {
	&:before {
    background-image: url('../img/16@2x.png');
    background-size: 34px 39px;
    width: 34px;
    height: 39px;
	}
}

.intro {
	position: relative;

	[class*="blob"] {
		top: 150px;
		z-index: -1;
		left: -20px;

		@include breakpoint (baby-bear) {
			top: 0;
			left: -200px;
		}
	}
}

.craigs {
	margin-bottom: 200px;

	@include breakpoint (max-tiny-bear) {
		margin-bottom: 110px;

		.craig-1,
		.craig-3 {
			display: none;
		}
	}

	.craig-1 {
		margin-top: 250px;
		@include breakpoint (baby-bear) {
			margin-top: 490px;
		}
	}

	.craig-2 {
		position: relative;

		[class*="blob"] {
			bottom: -120px;
			right: 0;

			@include breakpoint (baby-bear) {
				bottom: 0;
				left: 55%;
				margin-top: 50px;
			}
		}

		@include breakpoint (baby-bear) {
			margin-top: 90px;
		}
	}
}

.project-list {
}

.project {
	position: relative;

	@extend %vspacing;

	[class*="blob-1"] {
		bottom: -120px;
		left: 20px;
		z-index: -1;

		@include breakpoint (baby-bear) {
			bottom: -100px;
			right: -100px;
		}
	}

	[class*="blob-2"] {
		bottom: -100px;
		left: -30px;
		z-index: -1;

		@include breakpoint (baby-bear) {
			top: -100px;
			right: -185px;
		}
	}

	// &:last-child {
	// 	margin-bottom: 0;
	// }

	ul {
		@extend %no-bullet;
		position: relative;
	}

	li {
		display: block;
		position: absolute;
		top: 0;
		opacity: 0;

		&.active {
			position: relative;
			opacity: 1;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

.project-description {
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;

	@include breakpoint (tiny-bear) {
		margin-top: 30px;
		margin-bottom: 40px;
	}

	a {
		&:link,
		&:visited {
			color: $darkGrey;
		}

		&:hover,
		&:active {
			// color: $corp1;
		}
	}

	.date {
		margin-bottom: 12px;
	}

	.title {
		margin-bottom: 20px;
	}
}
.animated {
	opacity:0;
}
