.portfolio {

	header {
    margin: 45px 10px 8px 10px;
    
    @include breakpoint (baby-bear) {
      margin-bottom: 144px;
    }
	}

	.project-detail {
		margin-bottom: 0;
	}

	.project-collage {
		@extend %vspacing;

		img {
			position: relative;
			width: 130%;
			max-width: 130%;

			@include breakpoint (mama-bear) {
				width: 1770px;
				max-width: 1770px;
			}
		}
	}

  .collage-blob {
    position: relative;

    [class*="blob"] {
      top: 150px;
      z-index: -1;
      left: -20px;
   
      @include breakpoint (baby-bear) {
        top: -400px;
        left: 100px;
      }
    }
  }
  
  

	.project-brief {
		@extend %vspacing;

		.title {
			margin-bottom: 18px;
			font-weight: bold;
		}
	}

	.screens {
		@extend %vspacing;
	}
	
  .project,
  .browsers,
	.browser-row {
    margin-bottom: 66px;

    @include breakpoint (baby-bear) {
      margin-bottom: 128px;
    }
	}
  
  .browser-portfolio-img {
    position: relative;

    [class*="blob"] {
      top: 300px;
      right: -185px;
      z-index: -1;
  
      @include breakpoint (baby-bear) {
        top: 1600px;
      }
    }
  }

	// .browser-bg {
	// 	background-color: #ededed;
	// 	padding-top: 2.5rem;
	// 	padding-bottom: 2.5rem;
	// 	@include breakpoint (tiny-bear) {
	// 		padding-top: 3.5rem;
	// 		padding-bottom: 3.5rem;
	// 	}
	// 	@include breakpoint (baby-bear) {
	// 		padding-top: 6.0rem;
	// 		padding-bottom: 6.0rem;
	// 	}
	// 	@include breakpoint (mama-bear) {
	// 		padding-top: 7.5rem;
	// 		padding-bottom: 7.5rem;
	// 	}
	// 	@include breakpoint (papa-bear) {
	// 		padding-top: 10.0rem;
	// 		padding-bottom: 10.0rem;
	// 	}
	//
	// 	img {
	// 		@include breakpoint (max-baby-bear) {
	// 			max-width: 95%;
	// 			margin-left: auto;
	// 			margin-right: auto;
	// 		}
	// 	}
	// }

	.row {
		position: relative;
		@extend %vspacing;
	}

	.browser-row {
    // @extend %vspacing;

    img {
      @extend %browserspacing;
    }
	}


	.project-image-small {
    img {
      @extend %browserspacing;
    }
  }

	.portfolio-img-end {
		margin-bottom: 50px;

		@include breakpoint (baby-bear) {
			margin-bottom: 120px;
		}
	}
}
