// include $variables and @mixins in this file
$corp1: #4B1ADD;
$corp1Light: #96D0FF;
$lightPeach: #FFCCC9;
$yellow: #FFFEF2;
$grey: #858585;
$lightGrey: #FAFAFA;
$darkGrey: #2F2F2F;
$white: #F8F8F8;
$black: #1B1B1B;
$archive: #FBFBFB;
$zbg: 0;
$zcontent: 10;
$zheader: 20;

@font-face {
  font-family: 'Cooper Light';
  src: url('../font/38C4BA_0_0.woff2') format('woff2'),
       url('../font/38C4BA_0_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/38C4BA_0_0.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Eckmannpsych';
  src: url('../font/Eckmannpsych-Small.woff2') format('woff2'),
       url('../font/Eckmannpsych-Small.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/Eckmannpsych-Small.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Degular';
  src: url('../font/Degular-Black.woff2') format('woff2'),
       url('../font/Degular-Black.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 800;
}

@font-face {
  font-family: 'Degular';
  src: url('../font/Degular-Bold.woff2') format('woff2'),
       url('../font/Degular-Bold.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 600;
}

@font-face {
  font-family: 'Degular';
  src: url('../font/Degular-Medium.woff2') format('woff2'),
       url('../font/Degular-Medium.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 500;
}

%font-header {
  font-family: "Eckmannpsych", "Times New Roman", Times, serif;
}

%font-body {
  font-family: "Degular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: 1100px) { @content; }
  }
  @else if $point == max-papa-bear {
    @media (max-width: 1099px) { @content; }
  }
  @else if $point == mama-bear {
    @media (min-width: 960px) { @content; }
  }
  @else if $point == max-mama-bear {
    @media (max-width: 959px) { @content; }
  }
  @else if $point == baby-bear {
    @media (min-width: 768px)  { @content; }
  }
  @else if $point == max-baby-bear {
    @media (max-width: 767px)  { @content; }
  }
  @else if $point == tiny-bear {
    @media (min-width: 600px)  { @content; }
  }
  @else if $point == max-tiny-bear {
    @media (max-width: 599px)  { @content; }
  }
}

@mixin vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin bg-cover {
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

%vspacing {
  margin-bottom: 80px;

  @include breakpoint (baby-bear) {
    margin-bottom: 192px;
  }
}

%browserspacing {
  margin-bottom: 30px;

  @include breakpoint (baby-bear) {
    margin-bottom: 64px;
  }
}

%clear {
  &:after {
  content: " ";
  display: table;
  clear: both;
  }
}

%ease-in {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

%no-bullet {
  padding-left: 0;
  list-style-type: none;
}

%shadow {
	box-shadow: 0 -12px 36px 0 rgba(0,0,0,0.08);
}

%deco {
  &:after {
    content: "";
    display: block;
    margin: 40px auto;
    width: 1px;
    height: 60px;
    background-color: $darkGrey;
    opacity: 0.5;

		@include breakpoint (max-baby-bear) {
      display: none;
      height: 40px;
		}
	}
}

%scratch {
  display: inline-block;
  position: relative;
  margin-right: 60px;

  @include breakpoint (papa-bear) {
    margin-right: 0px;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 60px;

    @include breakpoint (papa-bear) {
      bottom: 15px;
      left: 80px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    background-image: url('../img/scribble.svg');
    background-size: 60px 16px;
    width: 60px;
    height: 16px;
    top: 14px;
    left: -7px;

    @include breakpoint (baby-bear) {
      background-size: 73.55px 29.42px;
      width: 73.55px;
      height: 29.42px;
      top: 27px;
      left: -7px;
    }
  }
}
